@media(min-width:576px){
.con{
    min-width: 576px;
    height: 880px;
    margin: auto;
    background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%), url(../images/hero-bg.jpg);
    /* background-image: url(../images/hero-bg.jpg); */
    background-position:center ;
    overflow: hidden;
} 
.navigation{
    width:498px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* margin-left: 26px; */
}
.nav-icon ul{
    display: none;
}
.navigation .nav-icon i{
    display: inline;
    font-size: 28px;
    color: #fff;
    line-height: 3;
    /* font-weight: 300; */
}
.navigation h3{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    line-height: 3;
    font-family: "Poppins", sans-serif;
}
.flux-container{
    width: 576px;
    margin: auto;
    display: flex;
    flex-direction:column
}
.banner{
    width: 576px;
    margin: auto;
    text-align: center;
    padding-top: 22px;
}
.banner h1{
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;
}
.banner p{
    margin: auto;
    font-size: 20px;
    color: #fff;
    padding-top: 30px;
    margin-bottom: 44px;
}
.banner .get-started a{
    display: inline-block;
    border: solid 2px #fff;
    border-radius: 0px;
    padding: 16px 33px;
    /* padding-top: 30px; */
    color: #fff;
    text-decoration: none;
}
.nav-img{
    position: relative;
    margin: auto;
    width: 400px;
    height: 485px;
    text-align: center;
    /* padding-right: 126px; */
    padding-top: 20px;
    /* margin-left: 100px; */
}
.nav-img .phone1{
    position:relative;
    width: 250px;
    height: 485px;
    margin-right: 111px;
}
.nav-img .phone2{
    position:absolute;
    width: 250px;
    height: 485px;
    /* margin-left: -246px; */
    right: 195px;
}
}
@media(min-width:768px){
    .con{
        width: 100%;
        height: 880px;
        margin: auto;
        background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%), url(../images/hero-bg.jpg);
        /* background-image: url(../images/hero-bg.jpg); */
        background-position:center ;
    } 
    .navigation{
        width: 700px;
        display: flex;
        justify-content: space-between;
        /* margin-left: 26px; */
    }
    .nav-icon ul{
        display: none;
    }
    .navigation .nav-icon i{
        display: inline;
        font-size: 28px;
        color: #fff;
        line-height: 3;
        /* font-weight: 300; */
    }
    .navigation h3{
        font-size: 28px;
        margin-right: 155px;
        font-weight: 500;
        color: #fff;
        line-height: 3;
        font-family: "Poppins", sans-serif;
    }
    .flux-container{
        margin: auto;
        display: flex;
        flex-direction:column;
        width: 740px;
        padding-top: 60px;
    }
    .banner{
        width: 690px;
        text-align: center;
        /* padding-top: 22px; */
        /* margin-left: 50px; */
    }
    .banner h1{
        font-family: "Poppins", sans-serif;
        color: #fff;
        width: 700px;
        font-size: 40px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    .banner p{
        font-size: 20px;
        color: #fff;
        padding-top: 30px;
        margin-bottom: 44px;
    }
    .banner .get-started a{
        display: inline-block;
        border: solid 2px #fff;
        border-radius: 0px;
        padding: 16px 33px;
        /* padding-top: 30px; */
        color: #fff;
        text-decoration: none;
    }
    .nav-img{
        width: 90%;
        margin: auto;
        height: 485px;
        padding-top: 20px;
    }
    .nav-img .phone1{
        position:relative;
        width: 280px;
        height: 485px;
        /* margin-left: -149px; */
        right: 50px;
        margin: auto;
    }
    .nav-img .phone2{
        margin: auto;
        position:absolute;
        width: 250px;
        height: 485px;
        left: -160px;
        /* margin-left: -316px; */
    }
    }
@media(min-width:992px){
.con{
    width: 100%;
    margin: auto;
}
.navigation{
    width: 940px;
    display: flex;
    justify-content: space-between;
}
.flux-container{
    display: flex;
    flex-flow: row;
    margin-top: 68px;
    width: 1058px;
    box-sizing: border-box;
 }
 .banner{
    width: 66.66%;
    margin: auto;
    flex: 0 0 auto;
    padding-bottom: 159px;
 }
.navigation .nav-icon i{
    display: none;
}
.nav-icon ul{
    display: block;
    padding: 30px 20px 0px 0px;
    /* padding-right: 20px; */
}
.nav-icon ul span{
    padding-left: 20px;
    /* color: #fff; */
    font-size: 18px;
    /* font-weight: bold; */
    color: rgba(255, 255, 255, 0.65);
}
.banner h1{
    padding-top: 41px;
    font-size: 2.5rem;
    text-align: center;
    width: 565px;
    /* padding-top: 42px; */
    font-size: 2,5rem;
    font-weight: 700;
}
.banner p{
    text-align: left;
    margin-left: 27px;
    font-size: 20px;
    color: #fff;
    padding-top: 30px;
    margin-bottom: 44px;
}
.get-started{
    text-align: left;
    margin-left: 27px;
}
.nav-img{
    text-align: right;
    width: 33.33%;
    margin: auto;
}
.nav-img .phone1{
    /* margin-right: 180px; */
    /* margin-right: 82px; */
    position: relative;
    left: -180px;
}
.nav-img .phone2{
    position: absolute;
    /* margin-left: -306px; */
    left: 50px;
}
}

@media(min-width:1200px){
    .con{
        width: 100%;
        margin: auto;
    }
    .navigation{
        width: 1100px;
        margin: auto;
    }
    .navigation h3{
        font-size: 28px;
        /* margin-right: 155px; */
        font-weight: 500;
        color: #fff;
        line-height: 3;
        font-family: "Poppins", sans-serif;

    }
    .navigation .nav-icon i{
        display: none;
    }
    .nav-icon ul{
        display: block;
        padding: 30px 20px 0px 0px;
    }
    .nav-icon ul span{
        /* padding-left: 20px; */
        font-size: 18px;
        color: rgba(255, 255, 255, 0.65);
    }
    .flux-container{
        width: 1100px;
        margin: auto;
    }
    .banner{
        /* width:; */
        margin:auto;
        width: 66.66%;
        padding-top: 150px;
    }
    .banner h1{
        margin-left: 46px;
        font-size: 3.3rem;
        margin: auto;
        width: auto;
        text-align: initial;
        line-height: 60px;
        letter-spacing: 2px;
    }
    .banner p{
        text-align: left;
        margin-left: 27px;
        font-size: 20px;
        color: #fff;
        padding-top: 30px;
        /* margin-bottom: 44px; */
        padding-bottom: 50px;
        margin: auto;
    }
    .get-started {
        /* margin-left: -34px; */
    margin-top: 40px;
    margin: auto;
    }
    .get-started a{
        display: inline-block;
        border: solid 2px #fff;
        border-radius: 0px;
        padding: 16px 33px;
        /* padding-top: 30px; */
        color: #fff;
        text-decoration: none;
        /* margin-left: 36px; */
    }
    .nav-img{
        width: 33.33%;
        margin: auto;
    }
    .nav-img .phone1{
    width: 250px;
    margin: auto;
    height: 485px;
    position: relative;
    height: 485px;
    /* margin-left: -28px; */
    /* left: -7px; */
    padding-right: 104px;
    /* left: auto; */
    margin-top: -47px;
    right: 6px;
}
    }
    .nav-img .phone2{
        width: 250px;
        height: 485px;
        width: 250px;
        height: 485px;
        right: 60px;
        margin: auto;
    }
