@media(min-width:576px){
.con{
    width: 100%;
    height: 880px;
    margin: auto;
    background: linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%), url(../images/hero-bg.jpg);
    /* background-image: url(../images/hero-bg.jpg); */
    background-position:center ;
} 
.navigation{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
}
.nav-icon ul{
    display: none;
}
.navigation .nav-icon i{
    display: inline;
    font-size: 28px;
    color: #fff;
    line-height: 3;
    /* font-weight: 300; */
}
.navigation h3{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    line-height: 3;
    font-family: "Poppins", sans-serif;
}
.banner{
    width: 100%;
    text-align: center;
    padding-top: 22px;
}
.banner h1{
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;
}
.banner p{
    font-size: 20px;
    color: #fff;
    padding-top: 30px;
    margin-bottom: 44px;
}
.banner .get-started{
    display: inline-block;
    border: solid 2px #fff;
    border-radius: 0px;
    padding: 16px 33px;
    /* padding-top: 30px; */
    color: #fff;
}
.nav-img{
    width: 90%;
    height: 485px;
    /* text-align: center; */
    /* padding-right: 126px; */
    padding-top: 20px;
    margin-left: 100px;
}
.nav-img .phone1{
    position:relative;
    width: 280px;
    height: 485px;
}
.nav-img .phone2{
    position:absolute;
    width: 250px;
    height: 485px;
    margin-left: -246px;
}
}
@media(min-width:992px){
.con{
    width: 100%;
    margin: auto;
}
.navigation .nav-icon i{
    display: none;
}
.nav-icon ul{
    display: block;
    padding: 30px 20px 0px 0px;
    /* padding-right: 20px; */
}
.nav-icon ul span{
    padding-left: 20px;
    /* color: #fff; */
    font-size: 18px;
    /* font-weight: bold; */
    color: rgba(255, 255, 255, 0.65);
}
.flux-container{
    font-display: flex;
    justify-content: space-between;
}
}